<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
    
        <div class="mb-3">
          <label for="" class="form-label">Name</label>
          <input type="text" [(ngModel)]='userName'  (input)="handleUsername($event)">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div *ngIf="isVisible">
          Đình trần là tôi không phải hảo mahi
        </div>
        
        <button (click)="toggleVisibility()">Bấm vào </button>
      </div>
    </div>
  </div>
</body>
</html>
